 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/ban-ppgr20241.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 794px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-shadow: 8px 2px 11px rgba(0,0,0,1);
  margin: 331px 0 60px 284px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 170px;
    margin-right: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 628px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 13px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 254px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 254px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-text-4 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 254px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 31px auto 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-text-6 {
  margin: 19px auto 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 254px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  margin: 30px auto 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-text-8 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 254px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
  margin: 30px auto 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-text-10 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 254px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-11 {
  margin: 31px auto 0 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-text-12 {
  margin: 19px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 209px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 209px;
  }

  .u-section-2 .u-icon-1 {
    padding: 13px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 209px;
  }

  .u-section-2 .u-icon-2 {
    padding: 13px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 209px;
  }

  .u-section-2 .u-icon-3 {
    padding: 13px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 209px;
  }

  .u-section-2 .u-icon-4 {
    padding: 13px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 209px;
  }

  .u-section-2 .u-icon-5 {
    padding: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 412px;
}

.u-section-3 .u-image-1 {
  width: 380px;
  height: 246px;
  margin: 71px calc(((100% - 1140px) / 2) + 305px) 0 auto;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: -31px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  min-height: 126px;
  grid-gap: 0px 0px;
  grid-auto-columns: 100%;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 305px);
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
    grid-auto-columns: NaN%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 305px);
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + 160px);
  }

  .u-section-3 .u-list-1 {
    margin-top: 61px;
    margin-bottom: 59px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 478px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 220px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 328px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 68px -23px 30px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 230px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 150px;
  height: 44px;
  margin: 10px auto 0 30px;
}

.u-section-4 .u-text-1 {
  font-size: 0.875rem;
  margin: -29px -152px 0 205px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 230px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0 10px;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  margin: 24px auto 0 -562px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 166px;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 10px 10px 17px;
}

.u-section-4 .u-icon-1 {
  width: 48px;
  height: 48px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 46px auto 0 0;
  padding: 9px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -36px 98px 0 75px;
}

.u-section-4 .u-text-3 {
  margin: 14px 0 0 75px;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px 10px 10px 17px;
}

.u-section-4 .u-icon-2 {
  width: 48px;
  height: 48px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 46px auto 0 0;
  padding: 9px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -36px 98px 0 75px;
}

.u-section-4 .u-text-5 {
  margin: 14px 0 0 75px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 190px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 190px;
  }

  .u-section-4 .u-list-1 {
    width: 470px;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 97px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-list-1 {
    width: 360px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 54px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 104px;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 362px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 312px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 10px;
  }
}